.hero {
    background-image:url("../images/herobackground2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* opacity: .75; */
    /* height: 960px !important;
    width: 100% !important; */
}
.inputCol{
  margin-top: 150px !important;
}
.header {
  color: white;
}
.input {
  margin-top: 5em;
}
.logo {
    /* width: 5em; */
    opacity: 1;
    left: 45px;
    top: 13px;
    position: absolute;
    cursor: pointer;
}
body {
    background-color: white;
    font-family: 'Open Sans', GillSans, Arial;
    margin: 0px;
}
.menuItem a{
    text-decoration: none;
    border-bottom: 1px solid #fff;

}
.detailsSection {
  margin-top: 100px !important;
}
.menuItem {
    float: right;
    vertical-align: middle;
    line-height: 90px;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    height: 21px;
}

.vewMap,
.vewMap a:link,
.vewMap a:visited{
    color: #b63073 !important;
}

.vewMap a:hover {
    border-bottom: 1px solid #b63073;
    transition: border-bottom-color 0.50s ease;
}

.vewSchedule,
.vewSchedule a:link,
.vewSchedule a:visited{
    color: #129eaf;
}

.vewSchedule a:hover {
    border-bottom: 1px solid #129eaf;
    transition: border-bottom-color 0.50s ease;
}
.photoGallery,
.photoGallery a:link,
.photoGallery a:visited{
    color: #5c379b;
}

.photoGallery a:hover {
    border-bottom: 1px solid #5c379b;
    transition: border-bottom-color 0.50s ease;
}



.nav-item {
  font-family: GillSans !important;
  font-size: 18px !important;
}
.navPhoto{
  color: #5c379b !important;
}
.navSchedule{
  color: #129eaf !important;
}
.navMap{
  color: #b63073 !important;
}
.jumbotron{
  background-color: #b63073;
  height: 487px;
  /* background-image: url("../images/floral-2746540_1280.svg"); */
}
.heroImg{
  background-position: center center;
}
.jumboTitle{
  width: 400px;
  height: 35px;
  margin: 0 80px 92px 0;
  font-family: GillSans;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.twitterIcon{
  height: 36px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
}
.instaIcon{
  height: 36px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.go{
  background-color: #b63073;
  color: #ffffff;
  width: 150px;
  height: 72px;
  font-family: OpenSans;
  font-size: 27px;
  font-weight: 600;
}

.hero2 {
  height: 960px !important;
  width: 1536px !important;
}

.events{
  margin: 100px 99px 18px 43px;
  padding: 16px 200px 15px 24px;
  background-color: #b63073;
  width: 100%;
  color: white;
  font-family: GillSans;
  font-size: 18px;
}
.past{
  margin: 100px 99px 18px 43px;
  padding: 16px 200px 15px 24px;
  background-color: #55338e;
  width: 100%;
  color: white;
  font-family: GillSans;
  font-size: 18px;
}
.photoGallery{
  margin: 100px 99px 18px 43px;
  padding: 16px 200px 15px 24px;
  background-color: #129eaf;
  width: 100%;
  color: white;
  font-family: GillSans;
  font-size: 18px;
}
.upcoming{
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  color: #555555;
}
.eventPic{
  height: 92px;
  width: 61px;
}
.eventTitle {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b63073;
}
.timeLoc{
  font-weight: normal;
  color: #555555;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
}
.highlight{
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}
.card-title{
  font-family: OpenSans;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #55338e;
}