.hero {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("../images/Holi.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1; 
    height: fit-content;
}
.logo {
    width: 5em;
    float: right;
}
body {
  background-color: black;
}
p {
  color: silver;
}
.d-block {
  border-radius: 50%;
}