.hero {
    background-image:url("../images/herobackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* opacity: .75; */
    height: 960px !important;
    width: 1536px !important;
}
.header {
  color: white;
}
.logo {
    /* width: 5em; */
    opacity: 1;
}
body {
    background-color: white;
    font-family: 'Open Sans', GillSans, Arial;
}
p {
}


.menuItem a{
    text-decoration: none;
    border-bottom: 1px solid #fff;

}

.menuItem {
    float: right;
    vertical-align: middle;
    line-height: 90px;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    height: 21px;
}

.vewMap, .vewMap a:link{
    color: #b63073 !important;
}

.vewMap a:hover {
    border-bottom: 1px solid #b63073;
    transition: border-bottom-color 0.50s ease;
}

.vewSchedule, .vewSchedule a:link {
    color: #129eaf;
}

.vewSchedule a:hover {
    border-bottom: 1px solid #129eaf;
    transition: border-bottom-color 0.50s ease;
}
.photoGallery, .photoGallery a:link {
    color: #5c379b;
}

.photoGallery a:hover {
    border-bottom: 1px solid #5c379b;
    transition: border-bottom-color 0.50s ease;
}



.nav-item {
  font-family: GillSans !important;
  font-size: 18px !important;
}
.navPhoto{
  color: #5c379b !important;
}
.navSchedule{
  color: #129eaf !important;
}
.navMap{
  color: #b63073 !important;
}
.jumbotron{
  background-color: #b63073;
  height: 487px;
  /* background-image: url("../images/floral-2746540_1280.svg"); */
}
.heroImg{
  background-position: center center;
}
.jumboTitle{
  width: 400px;
  height: 35px;
  margin: 0 80px 92px 0;
  font-family: GillSans;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.iconRow{
  float: right;
  margin-right: 8em;
}
.icon{
  height: 48px;
  padding-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}