.locationHeader{
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    /* Border is the new background */
    background: none;
    margin-top: 10em;
    /* Rotate from top left corner (not default) */
    transform-origin: 0 0;
    transform: rotate(-90deg);
}